<tr>
  <td>
    <%= item.name %>
  </td>
  <td>
    <%= item.quantity %>
  </td>
  <td>
    <%= item.price %>
  </td>
  <td>
    <%= link_to '', item, id: "show_#{item.id}", class: 'glyphicon glyphicon-asterisk index-icons'%>
  </td>
  <td>
    <%= link_to '', edit_item_path(item), id: "edit_#{item.id}", class: 'glyphicon glyphicon-pencil index-icons'%>
  </td>
  <td>
    <%= link_to '', item, method: :delete, id: "delete_item_#{item.id}_from_index", class: 'glyphicon glyphicon-trash index-icons', data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
