<div class="well">
  <div>
    <h3><span>Name:</span> <%= @item.name %></h3>
  </div>

  <div>
    <h3><span>User:</span> <%= @item.user.email %></h3>
  </div>

  <div>
    <h3><span>Quantity:</span> <%= @item.quantity %></h3>
  </div>

  <div>
    <h3><span>Price:</span> <%= @item.price %></h3>
  </div>
</div>

<%= link_to 'Items', items_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-primary' %>
